@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary-color: #0d3b66;
  --secondary-color: rgb(0, 255, 255);
  --accent-color: #00f8cf;
  --background-color: #f8f9fa;
  --text-color: #222;
  --max-width: 900px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem 0;
  
}

#course-title {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #333;
  padding: 0.75rem 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--secondary-color);
}

main {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 16fr 8fr;
}

h1 {
  grid-column: 3 / 3;
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  text-decoration: #000
}

.card img {
  width: 80%;
  max-width: 220px;
  border-radius: 8px;
  margin: 0.5rem 0;
}

.card h2 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
}

footer span {
  color: var(--accent-color);
}

footer p{
  color: white;
}
p{
  color: var(--text-color)
}
