@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary-color: #fea765;
  --secondary-color: rgb(0, 255, 255);
  --accent-color: #00f8cf;
  --background-color: #f8f9fa;
  --text-color: #222;
  --max-width: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

nav {
    background-color: var(--primary-color);
    padding: 1rem 0;
    margin: 0;
    text-align: right;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

header {
  background-color: var(--primary-color);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
  border-radius: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--accent-color);
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 20px;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
}

footer span {
  color: var(--accent-color);
}

footer p{
  color: white;
}

main {
  padding: 2rem 0;
}

main h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* GALERIA */
.temple {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.temple figure {
  text-align: center;
}

.temple img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.temple img:hover {
  transform: scale(1.05);
}

.temple figcaption {
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.95rem;
}